* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(public/a0d70b35-f7f4-4614-9809-0ab08638ea93.png);
}

.tooth {
  color: rgb(214, 214, 214);
}

/* upper nav */

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding: 0.3rem;
  position: sticky;
  top: 0%;
  border-bottom: 1px solid black;
  background-color: rgb(250, 250, 250);
}

.media-container {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  gap: 1rem;
  color: rgb(53, 51, 51);
}

.media-shadow {
  box-shadow: 1px 1px 50px 1px rgb(221, 221, 221);
}

/* constantly in use */

.primar-color {
  color: #00B4D8;
}

.main-color {
  color: #333333;
}

.secundary-color {
  color: #0077B6;
}

.end-text {
  color: #F8F9FA;
}

.links {
  text-decoration: none;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #ffffff80; white, 50% transparent */
  /* background-color: #00000040; black, 25% transparent */
  background-color: #F8F9FA;
}

.nav-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10rem;
  width: 100%;
  /* gap: 3rem; */
  /* padding-block: 1rem; */
  /* align-items: center; */
}

.nav-container-text {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  /* padding-block: 1rem; */
  align-items: center;
}

.nav-text {
  /* box-shadow: 1px 1px 70px 1px rgb(220, 220, 220); */
  transition: 0.3s;
}

.nav-text:hover {
  transform: scale(0.9);
}

.tooth-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 8rem;
  /* width: 100%; */
}

.tooth-photo {
  display: flex;
  justify-content: start;
  width: 5rem;                                                                                                                                                                                                                                                                                                                      
}

.duzina {
  height: 100rem;
}