* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  overflow-x: hidden;
  width: 100%;
}

/* Navigation bar */


nav {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  -webkit-mask-image: linear-gradient(to bottom, black, transparent 100%);
          mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
          overflow-x: hidden;
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(public/ordinacija.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: 1;
}

nav::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(1, 34, 124, 0.65) 0%, white 200%);
  z-index: 2;
  box-shadow: 10px 10px 100px 10px rgba(1, 34, 124);
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tittle-tooth {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 93.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  top: 0;
  z-index: 5;
}

.tittle {
  text-shadow: #b4b4b4 0 1px 2px;
  font-size: 1.5rem;
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.link-custom {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: 0.3s;
  white-space: nowrap;
}

.link-custom:hover {
  transform: scale(0.9);
  text-shadow: #ffffff 0 0 5px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 80vh;
  gap: 1rem;
  padding: 6rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

.align-left {
  text-align: left;
}

.hero-paragraph {
  max-width: 600px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.button-container {
  width: fit-content;
}

.button-cards-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero-button {
  width: 8rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  box-shadow: 0 0 5px white;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.hero-button:hover {
  background-color: white;
  color: rgb(1, 34, 124);
  transform: scale(1.05);
  box-shadow: 0 0 15px white;
}

.hero-button:active {
  box-shadow: 0 0 20px white;
  transform: scale(1.1);
}

.no-decoration {
  text-decoration: none;
}

.arrow-container {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.arrow-container .arrow {
  font-size: 32px;
  color: rgb(1, 34, 124);
  animation: bounce 2s infinite ease;
  opacity: 0.8;
}

/* bounce animation for arrow */

@keyframes bounce {
  0% { transform: translateY(5px); }
  30% { transform: translateY(30px); }
  50% { transform: translateY(20px); }
  70% { transform: translateY(30px); }
  100% { transform: translateY(0px); }
}

/* start of main */

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  overflow-x: hidden;
}

/* .welcome-container h1 {
  font-family: "Playfair Display", sans-serif;
  text-shadow: rgb(130, 159, 238) 1px 1px 5px;
} */

.section-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  overflow-x: hidden;
}

.about-us-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 5rem;
  background-color: #f4f4f5;
  margin-top: 2rem;
  max-height: 600px;
  overflow-x: hidden;
}

.about-us-image-container {
  width: 50%;
  max-height: 600px;
}

.about-us-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgb(1, 34, 124) 1px 1px 10px;
  object-fit: cover;
  object-position: center;
  filter: contrast(1.06) saturate(1.08) brightness(1);
  max-height: 600px;
}

.about-us-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-inline: 2rem;
  color: #000e4e;
  padding-block: 1rem;
}

.moto-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.moto-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.section-title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  gap: 1rem;
}

.teeth-whitening-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  gap: 1rem;
}

.teeth-whitening-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 2rem; */
  padding-block: 5rem;
  align-items: center;
}

.teeth-whitening-image-container {
  width: 50%;
}

.teeth-whitening-image-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  object-fit: cover;
  object-position: left;
  filter: contrast(1.1) saturate(1.08) brightness(1);
  box-shadow: rgb(71, 77, 110) 1px 3px 10px;
}

/* ultrasonic-teeth-cleaning */

.ultrasonic-teeth-cleaning-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 5rem;
  align-items: center;
}

.ultrasoni-teeth-cleaning-image-container {
  width: 50%;
}

.ultrasoni-teeth-cleaning-image-container img {
  width: 100%;
  height: auto;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  object-fit: cover;
  object-position: right;
  filter: contrast(1.1) saturate(1.08) brightness(1);
  box-shadow: rgb(71, 77, 110) 1px 3px 10px;
}

.ultrasonic-teeth-cleaning-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  gap: 1rem;
}

/* ======================== */
/* RESPONSIVE MEDIA QUERIES */
/* ======================== */

/* Breakpoint: 1024px */

@media (max-width: 1024px) {
  .about-us-section {
    padding-inline: 3rem;
    gap: 1.5rem;
  }

  .about-us-text-container h1 {
    font-size: 2rem;
  }

  .moto-items {
    gap: 1rem;
    flex-direction: column;
  }

    .footer-main-container {
    display: flex;
    flex-direction: row;
    /* max-width: 80%; */
    align-items: center;
    justify-content: center;
  }

  .right-wrap {
    max-width: 45%;
  }
}

/* Breakpoint: 768px */

@media (max-width: 768px) {
  .about-us-section {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    gap: 2rem;
  }

  .about-us-image-container,
  .about-us-text-container {
    width: 100%;
  }
}

  .about-us-text-container h1 {
    font-size: 1.8rem;
  }

  .about-us-text-container h2 {
    font-size: 1.4rem;
  }

  .moto-items {
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 0;
  }

  .footer-main-container {
    display: flex;
    flex-direction: row;
    /* max-width: 80%; */
    align-items: center;
    justify-content: center;
  }

  .right-wrap {
    max-width: 45%;
  }

/* Breakpoint: 475px */

@media (max-width: 475px) {

  /* header nav media */

  header main {
    width: 100%;
  }

  nav {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255,) 0%, rgba(1, 34, 124) 300%);
    box-shadow: rgb(255, 255, 255) 0px 0px 10px;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
  }

  .tittle-tooth {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    display: none;
  }

  .tittle {
    font-size: 1.2rem;
  }

  .link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 91%;
    gap: 1.5rem;
  }

  .link-custom {
    font-size: 0.9rem;
  }

  .hero-text-container {
    height: auto;
    padding: 0;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .hero-paragraph {
    font-size: 0.65rem;
    width: 100%;
  }

  .hero-button {
    width: 7rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .arrow-container {
    bottom: 40px;
  }

  /* about us media query */

  .about-us-section {
    padding-inline: 1rem;
    gap: 1.5rem;
    padding-block: 5rem;
    display: flex;
    width: 100%;
  }

  .about-us-image-container {
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
  }

  .about-us-image-container img {
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  .about-us-text-container h1 {
    font-size: 1.6rem;
  }

  .about-us-text-container h2 {
    font-size: 1.2rem;
  }

  .about-us-text-container p {
    font-size: 0.95rem;
  }

  .moto-list h2 {
    padding: none;
  }

  .moto-items {
    padding-left: 1rem;
  }
}

/* constantly in use */

.links {
  text-decoration: none;
}

.z-above {
  position: relative;
  z-index: 3;
}
.family-playfair {
  font-family: 'Playfair Display', serif;
}

.rubik-font {
  font-family: 'Rubik', sans-serif;
}

.h1-shadow-decoration {
  font-family: "Playfair Display", sans-serif;
  text-shadow: rgb(130, 159, 238) 1px 1px 5px;
}

.h2-text-decoration {
  text-decoration: underline;
  text-decoration-color: #000e4e;
  text-decoration-thickness: 1px;
}

.paragraph-color {
  color: #5d6485;
}

.mini-tittle {
  color: #2b43ac;
  text-shadow: rgb(130, 159, 238) 1px 1px 3px;
  font-weight: 300;
}

/* card wraper start */

.card-wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding-inline: 2rem;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4rem;
}

.card {
  max-width: 350px;
  max-height: 550px;
  height: 550px;
  width: 350px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 1px 4px rgb(96, 105, 134);
  border-radius: 15px;
  padding: 1rem;
}

.tittle-card {
  display: flex;
  padding-block: 1rem;
}

.card-line {
  border-color: #7ea7ff;
}

.paragraph-card {
  display: flex;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-paragraph {
  opacity: 0.8;
  font-weight: 350;
  padding-block: 1rem;
}

/* check list */

.check-list-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.check-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.fa-circle-check {
  color: #2654eb;
}

/* button on same list */

.button-card {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 12rem;
  border-radius: 5px;
}

/* .button-card button {
  height: 2.5rem;
  width: 100%;
} */

.button-of-check-list {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 15px;
  color: #2654eb;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  box-shadow: 0 0 5px rgb(45, 66, 156);
  cursor: pointer;
  transition: 0.3s;
  font-weight: 450;
}
.button-card a  {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  color: #2654eb;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 450;
}

.button-of-check-list:hover {
  background-color: rgb(75, 100, 226);
  color: rgb(207, 207, 207);
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(74, 104, 240);
}

/* start of footer */

footer {
  /* background: linear-gradient(to bottom right, #3a86ff 0%, #2b43ac 40%, #31459e 50%, #4254a7 60%, #31459e 70%, #504aa5 80%, #665cbd 90%); */
  background: linear-gradient(to bottom right, #3a86ff 0%, #3a86ff 40%, #3770cc 50%, #366cc4 60%, #2f62b4 70%, #2253a1 80%, #1f4d97 90%);
  /* margin-top: 3rem; */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.tittle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.tittle-card h1,
.tittle-card h2 {
  color: #eeeeee;
  text-shadow: 1px 1px 5px rgb(4, 53, 185);
}

.tittle-card h1 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
  text-decoration-color: rgb(132, 156, 204);
  font-size: 2.4rem;
}

.tittle-card h4 {
  color: #e7e7e7;
  opacity: 0.9;
  font-weight: 350;
  font-size: 0.95rem;
}

.tittle-card h2 {
  color: #e7e7e7;
  font-weight: 400;
  font-size: 1.3rem;
  text-shadow: 1px 1px 5px rgb(21, 64, 184);
}

.footer-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex: 1;
  padding-block: 3rem;
  /* gap: 2rem; */
}

.socials-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* width: fit-content; */
  gap: 2rem;
  /* border: 1px solid red; */
  /* padding: 3rem 3rem; */
  padding: 3rem;
  /* background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1); */
  /* margin-inline: 1rem; */
}

.socials-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #eeeeee;
  text-shadow: 1px 1px 5px rgb(26, 69, 189);
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.socials-little-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.socials-little-card i {
  font-size: 2rem;
  color: rgb(11, 48, 148);
}
.socials-little-card p {
  color: #f0f0f0;
  font-size: 1.1rem;
}

.icon-wrap {
  /* border: 1px solid red; */
  padding: 0.4rem;
  border-radius: 10px;
  background: rgb(142, 177, 255);
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.icon-wrap a {
  color: rgb(8, 37, 117);
}

.social-media-card {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 2.2rem;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(8, 37, 117);
}

.mail-link {
  color: #f0f0f0;
  text-underline-offset: 5px;
  text-decoration-color: rgb(217, 241, 255);
  font-size: 1.1rem;
  transition: 0.1s;
}

.mail-link:hover {
  text-shadow: 0 2px 10px rgba(255, 255, 255, 0.35);
}

/* message container */

.right-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin-inline: 1rem;
  padding: 3rem 4rem;
  padding-bottom: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.message-tittle {
  color: #eeeeee;
  text-shadow: 1px 1px 5px rgb(33, 73, 180);
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-tittle h1 {
  font-weight: 450;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message-card {
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
}

.label-text {
  color: #c3cfd8;
  position: absolute;
  padding-left: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-1 {
  padding-block: 1.2rem;
  padding-inline: 15px;
  border: 20px;
  width: 100%;
  background-color: transparent;
  /* border: 1px solid red; */
  z-index: 10;
  outline: none;
  color: rgb(244, 247, 255);
  border-radius: 16px;
  transition: 0.2s;
  overflow: hidden;
  border: 1px solid rgb(134, 167, 216);
}

.input-1::placeholder {
  color: #dbe1e6;
  font-size: 0.95rem;
}

.input-1:hover {
  box-shadow: 0 4px 15px rgba(29, 62, 155, 0.459);
}

.input-1:focus {
  color: white;
  /* box-shadow: 0 4px 25px rgba(22, 60, 165, 0.575); */
  box-shadow: 0 4px 25px rgba(190, 208, 255, 0.575);
  /* border: 1px solid rgb(178, 204, 240); */
  border: 1px solid rgb(221, 229, 240);
  overflow: hidden;
}

.custom-message-area {
  width: 100%;
  height: 70px;
  padding: 16px;
  font-size: 15px;
  resize: none; /* da ne moze da se drži za ćoškove */
  /* border: 2px solid #ccc; */
  border-radius: 16px;
  outline: none;
  /* line-height: 1.4; */
  /* background: rgba(255, 255, 255, 0.6); */
}

.send-button-container,
.send-button-container a {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 2rem;
  margin-bottom: 10px;
  width: 100%;
  height: 3rem;
  text-decoration: none;
}

.send-button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid rgb(194, 226, 255);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background: #255eb9;
  transition: 0.3s;
}

.send-button:hover {
  background-color: #0c58d1;
  color: #b3e9ff;
  border: 1px solid #b3e9ff;
  box-shadow: 0 1px 10px #1f4d97;
}

.send-button:active {
  box-shadow: 0 2px 20px #183d7a;
}

/* here is fast links and political rights */

.bottom-footer-font-tittle {
  font-weight: 400;
}

.bottom-footer {
  background: #00114b3a;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.fast-links-container {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* padding-left: 4rem; */
}

.bottom-footer-tittle {
  color: #dae2e7;
  text-shadow: 0 1px 5px rgb(33, 103, 194);
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.fast-link {
  color: #eeeeee;
  transition: 0.2s;
  white-space: nowrap;
  font-weight: 250;
  text-underline-offset: 3px;

}
.fast-link:hover {
  text-underline-offset: 2px;
  transform: translateY(1px);
  text-shadow: 0 1px 5px rgba(121, 156, 202, 0.658);
}

.rights-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color:#eeeeee;
  gap: 1rem;
  font-weight: 350;
}

.list-container {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  font-size: 0.9rem;
  padding-left: 35px;
  justify-content: center;
}