* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(public/a0d70b35-f7f4-4614-9809-0ab08638ea93.png);
}

.tooth {
  color: rgb(214, 214, 214);
}

/* upper nav */

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding: 0.3rem;
  position: sticky;
  top: 0%;
  border-bottom: 1px solid black;
  /* background-color: rgb(250, 250, 250); */
  background: url(public/a0d70b35-f7f4-4614-9809-0ab08638ea93.png);
  background-size: contain;
}

.media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  gap: 1rem;
  color: rgb(53, 51, 51);
}

.media-animate {
  transition: 0.2s;
}

.media-animate:hover {
  transform: scale(1.2);
}

.media-shadow {
  box-shadow: 1px 1px 50px 1px rgb(221, 221, 221);
}

.header-top-text {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  padding-block: 5px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(22, 154, 167);
}

.header-top-text:hover {
  transform: scale(0.9);
}

.link-header-top-text {
  text-decoration: none;
}

.contact-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* constantly in use */

.text-decoration {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* thickness of underline */
  text-underline-offset: 6px; /* distance below text */
  text-decoration-color: rgb(99, 92, 92);
}

.primar-color {
  /* color: #00B4D8; */
  color: #115b69;
}

.main-color {
  color: #333333;
}

.secundary-color {
  color: #006399;
}

.end-text {
  color: #F8F9FA;
}

.main-secondary-color {
  color: #474747;
}

.links {
  text-decoration: none;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #F8F9FA;
}

.nav-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10rem;
  width: 100%;
}

.nav-container-text {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.nav-text {
  transition: 0.3s;
}

.nav-text:hover {
  transform: scale(0.9);
}

.tooth-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 8rem;
  transition: 0.2s;
}

.tooth-photo-container:hover {
  transform: scale(0.9)
}

.tooth-photo {
  display: flex;
  justify-content: start;
  width: 5rem;                                                                                                                                                                                                                                                                                                                      
}

.duzina {
  height: 100rem;
}

/* start of main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #10a2ce;
}

.top-link {
  transition: 0.3s ease-in-out;
}

.top-link:hover {
  transform: scale(1.1);
}

.top-button {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
    border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: #115b69;
  font-size: 1rem;
  font-family: sans-serif;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px;
}

.top-button:hover {
  transform: scale(1.05);
  color: white;
  background-color: #115b69;
  border: 1px solid #474747;
}

.mini-top-text-link {
  display: flex;
  flex-direction: row;
} 

.main-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  gap: 1rem;
  margin: 2rem;
}

.main-top-img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  /* border: 1px solid gray; */
  padding: 5px;
  box-shadow: rgb(17, 120, 129) 1px 1px 20px 1px;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.main-top-img-container:hover {
  transform: scale(1.01);
  box-shadow: gray 2px 2px 10px 5px;
}

.main-top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.bracelet-tooth {
  width: 3rem;
  height: 3rem;
  box-shadow: 1px 1px 100px 1px;
  border-radius: 50px;
  border: 1px solid rgb(148, 148, 148);
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
}

.first-container-text {
  display: flex;
  flex-direction: row;
  /* margin-inline: 1rem; */
  padding: 10px;
  background-color: white;
  margin-block: 0.5rem;
  /* box-shadow: gray 1px 1px 5px 1px; */
  border: 1px solid   rgb(226, 226, 226);
  border-radius: 10px;
}