* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(/stomatology.project/public/a0d70b35-f7f4-4614-9809-0ab08638ea93.png);
}

.tooth {
  color: rgb(214, 214, 214);
}

/* upper nav */

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  padding: 0.3rem;
  position: sticky;
  top: 0%;
  border-bottom: 1px solid rgb(0, 44, 85);
  /* background-color: rgb(250, 250, 250); */
  background: url(/stomatology.project/public/a0d70b35-f7f4-4614-9809-0ab08638ea93.png);
  background-size: contain;
}

.media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  gap: 1rem;
  color: rgb(53, 51, 51);
}

.media-animate {
  transition: 0.2s;
}

.media-animate:hover {
  transform: scale(1.2);
}

.media-shadow {
  box-shadow: 1px 1px 50px 1px rgb(221, 221, 221);
}

.header-top-text {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  padding-block: 5px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px;
  cursor: pointer;
  transition: 0.2s;
  color: #10a2ce;
}

.header-top-text:hover {
  transform: scale(0.9);
}

.link-header-top-text {
  text-decoration: none;
}

.contact-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* constantly in use */

.text-decoration {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* thickness of underline */
  text-underline-offset: 6px; /* distance below text */
  text-decoration-color: rgb(99, 92, 92);
}

.primar-color {
  /* color: #00B4D8; */
  color: #115b69;
}

.main-color {
  color: #333333;
}

.secundary-color {
  color: #006399;
}

.end-text {
  color: #F8F9FA;
}

.main-secondary-color {
  color: #474747;
}

.links {
  text-decoration: none;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #F8F9FA;
}

.nav-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10rem;
  width: 100%;
}

.nav-container-text {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.nav-text {
  transition: 0.3s;
}

.nav-text:hover {
  transform: scale(0.9);
}

.tooth-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 8rem;
  transition: 0.2s;
}

.tooth-photo-container:hover {
  transform: scale(0.9)
}

.tooth-photo {
  display: flex;
  justify-content: start;
  width: 5rem;                                                                                                                                                                                                                                                                                                                      
}

/* start of main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.top-service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow: #006399 0px 4px 8px 0px;
  width: fit-content;
  padding-inline: 3rem;
  padding-block: 1rem;
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.top-service-container:hover {
  box-shadow: #006399 0px 6px 12px 0px;
  transform: translateY(-5px);
}

.top-scroll-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.top-scroll-link a {
  text-decoration: none;
  color: #006399;
  font-size: 1.1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
  /* border: 1px solid red; */
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 23, 97, 0.15);
  box-shadow: 0 3px 15px rgb(0, 38, 165);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.card-container:hover {
  box-shadow: 0 6px 20px rgb(0, 38, 165);
  transform: translateY(-3px);
}

.icon-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 10rem;
  padding-top: 1rem;
  padding-bottom: 5px;
  font-size: 1.7rem;
}

.text-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-bottom: 3rem;
  /* border: 1px solid red; */;
}